[data-scope='tree-view'][data-part='tree'],
[data-scope='tree-view'][data-part='treeitem'],
[data-scope='tree-view'][data-part='branch-content'] {
  padding-left: 0;
  list-style: none;
}

[data-scope='tree-view'][data-part='treeitem'],
[data-scope='tree-view'][data-part='branch-text'],
[data-scope='tree-view'][data-part='branch-control'] {
  display: flex;
  padding: 2px 0;
  padding-left: calc(var(--depth) * 6px);
  gap: 4px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-flow: row wrap;
  flex-shrink: 0;

}

[data-scope='tree-view'][data-part='branch-control'] [data-scope='tree-view'][data-part='treeitem-expand'] {
  transition: all;
  translate: 0 -2px;
  width: 8px;
}

[data-scope='tree-view'][data-part='branch-control'][data-state="open"] [data-scope='tree-view'][data-part='treeitem-expand'] {
  translate: -1px 2px;  
  transform: rotateZ(90deg);
}

[data-scope='tree-view'][data-part='branch-control']:hover {
  background: rgba(105, 105, 105, 0.475);
}

[data-scope='tree-view'][data-part='branch-control'][data-selected] {
  background: rgba(139, 110, 255, 0.475);
}