[data-scope='dialog'] {

    &[data-part='backdrop'] {
        background-color: var(--vscode-editor-background);
        /* 设置遮罩层的透明度 */
        position: fixed;
        opacity: 0.8;
        inset: 0px;
    }

    &[data-part='backdrop'][data-state='open'] {
        animation: backdropFadeIn 0.25s ease-out;
    }

    &[data-part='backdrop'][data-state='closed'] {
        animation: backdropFadeOut 0.2s ease-in;
    }

    &[data-part='positioner'] {
        height: 100vh;
        width: 100vw;
        position: fixed;
        inset: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &[data-part='title'] {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        color: var(--vscode-sideBarSectionHeader-foreground);
        font-size: 17px;

    }

    &[data-part='description'] {
        color: var(--vscode-sideBarSectionHeader-foreground);
        font-size: 15px;
        line-height: 1.5;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    &[data-part='footer'] {
        color: var(--vscode-sideBarSectionHeader-foreground);
        margin-top: 32px;
        display: flex;
        flex-flow: row;
        gap: 16px;
        justify-content: space-around;
    }

    &[data-part='content'] {
        background-color: var(--vscode-menu-background);
        border: 1px solid var(--vscode-menu-border);
        border-radius: 6px;
        box-shadow:
            rgb(14 18 22 / 35%) 0px 10px 38px -10px,
            rgb(14 18 22 / 20%) 0px 10px 20px -15px;
        width: calc(100% - 100px);
        min-width: 300px;
        max-width: 450px;
        max-height: 85vh;
        padding: 10px 24px 16px;
        position: relative;
        overflow-y: auto;
    }

    &[data-part='content'][data-state='open'] {
        animation: scaleIn 0.25s ease-out;
    }

    &[data-part='content'][data-state='closed'] {
        animation: scaleOut 0.2s ease-in;
    }

    &[data-part='close-trigger'] {
        color: var(--vscode-sideBarSectionHeader-foreground);
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        padding: 4px;
        outline: unset;
        border: unset;
        background: unset;
        cursor: pointer;

    }



    @keyframes backdropFadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 0.8;
        }
    }

    @keyframes backdropFadeOut {
        from {
            opacity: 0.8;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes scaleIn {
        from {
            scale: 0.8;
        }

        to {
            scale: 1;
        }
    }

    @keyframes scaleOut {
        to {
            scale: 0.8;
        }
    }
}