[data-scope='select'][data-part='content'][data-state='open'] {
    animation: fadeIn 0.25s ease-out;
}

[data-scope='select'][data-part='content'][data-state='closed'] {
    animation: fadeOut 0.2s ease-in;
}

[data-scope='select'][data-part='content'] {
    border: 1px solid var(--dropdown-border);
    background: var(--input-background);width: var(--reference-width);
    z-index: 1;
    padding: 12px;
}

[data-scope='select'][data-part='item-group-label'] {
    font-weight: bold;
}

[data-scope='select'][data-part='item'] {
    display: flex;
    justify-content: space-between;
}

[data-scope='select'][data-part='item'][data-disabled] {
    color: var(--input-foreground);

}

[data-scope='select'][data-part='control'] {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--input-foreground);
    background: var(--input-background);
    border-radius: calc(var(--corner-radius-round) * 1px);
    border: calc(var(--border-width) * 1px) solid var(--dropdown-border);
    height: calc(var(--input-height) * 1px);
    min-width: var(--input-min-width);
}

[data-scope='select'][data-part='trigger'] {
    display: inline-flex;
    gap: 8px;
    background: unset;
    color: var(--input-foreground);
    border: unset;
    align-items: center;
    flex-grow: 1;
}

[data-scope='select'][data-part='trigger'] svg {
    width: 1em;
    height: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}